@import "../../../variables.scss";

.container {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  align-items: center;
  padding: 2rem 0;
  border-bottom: 1px solid $gray;
  width: 100%;

  .imageWrapper {
    min-width: 150px;
    min-height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .infoWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.5rem;

    .topInfoWrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .bottomInfoWrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }
}
.descriptionProduct {
  font-weight: 600;
  flex-basis: 70%;
  text-align: left;
  font-size: 1.5rem;
  line-height: 2.25rem;
}
.quantityWrapper {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  align-items: center;
  border-radius: 0.5rem;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 400;
}
.quantityIncreaserDecreaserWrapper {
  display: inline-flex;
  flex-direction: column;
}
.quantityModifierButton {
  border: none;
  background: transparent;
  color: $pink;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
}
.verticalRotate {
  transform: rotate(180deg);
}

.bouquetImg {
  height: 15rem;
  width: 15rem;
}

.customButton {
  background-color: $white;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-self: center;
  cursor: pointer;
}
.customButton {
  color: $pink;
  font-size: 1rem;
  font-weight: 400;
  border: none;
}
.customButton :hover {
  color: $orange;
}
.priceWrapper {
  flex-basis: 20%;
  text-align: right;
  font-size: 1.5rem;
  color: $black;
}

@media only screen and (max-width: 767px) {
  .container {
    padding: 1rem 0;
    flex-direction: column;

    .imageWrapper {
      min-width: 250px;
      min-height: 250px;
    }

    .infoWrapper {
      padding-left: 0.5rem;
      margin: 1rem 0;

      .topInfoWrapper {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
      }

      .bottomInfoWrapper {
        margin-top: 1rem;
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
  .descriptionProduct {
    margin-bottom: 1rem;
    font-size: 1rem;
    text-align: left;
  }
  .customButton {
    font-size: 0.9rem;
    align-self: flex-end;
  }
  .quantityWrapper {
    width: 40%;
    margin: 0;
    font-size: 1rem;
    border-radius: 10px;
    padding: 5px;
  }
  .priceWrapper {
    text-align: center;
    font-size: 1rem;
    color: $black;
    margin-top: 1rem;
  }
}
