@import "../../../variables.scss";

.container {
  position: relative; /*Needed for caption below*/
  display: flex;
  flex-direction: column;

  .title {
    font-size: 5rem;
    font-weight: 600;
    position: absolute;
    left: 0;
    right: 0;
    top: 200px;
    z-index: 100;
  }

  .subtitle {
    margin-top: 1rem;
    font-size: 3rem;
    font-weight: 600;
    position: absolute;
    left: 0;
    right: 0;
    top: 300px;
    z-index: 100;
  }

  .toShopButton {
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 500;
    position: absolute;
    left: 0;
    right: 0;
    top: 400px;
    z-index: 100;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    width: 307px;
  }
}

@media only screen and (max-width: 767px) {
  .toShopButton {
    font-size: 1rem;
    padding: 10px 30px;
  }
  .title {
    font-size: 1.6rem;
    margin-top: 1rem;
  }
  .subtitle {
    font-size: 1.1rem;
    margin: 0.5rem 0 1.5rem 0;
  }
}
