@import "../../../variables.scss";

.backgroundImageColorful {
  background-image: url("../../../assets/colorfulImg.jpg");
}

.backgroundImageLight {
  background-image: url("../../../assets/lightColorImg.png");
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  height: 650px;
  width: 100%;
  color: $white;

  .lightBox {
    background-color: rgba($black, 0.7);
    padding: 1.5rem 3rem;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;

    .title {
      font-size: clamp(1.33rem, 8vw, 4rem);
      font-weight: 700;
      font-family: "Playfair Display", sans-serif;
    }

    .subtitle {
      margin-top: 0.5rem;
      font-size: clamp(1rem, 8vw, 3rem);
      font-weight: 400;
      font-family: "Playfair Display", sans-serif;
    }

    .buttonWrapper {
      margin-top: 1.5rem;
    }
  }
}

@media only screen and (max-width: 767px) {
  .container {
    .lightBox {
      padding: 0.5rem 1rem;
    }
  }
}
