@import "../../variables.scss";

.button {
  border: none;
  background: $darkGreen;
  color: $white;
  cursor: pointer;

  &:hover {
    background-color: $darkGreenBlue;
  }
}

.big {
  border-radius: 16px;
  padding: 16px 32px;
  font-size: 2rem;
}

.small {
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 1rem;
}
