@import "../../../variables.scss";

.header {
  position: relative;
  flex-direction: row;
  display: flex;
  justify-content: center;
  width: 1920px;
  margin-left: auto;
  margin-right: auto;
}
.headerTitle {
  color: $white;
  font-size: 4rem;
  font-weight: 600;
  line-height: 5rem;
  text-align: left;
  margin-left: 3%;
}
.headerSubtitle {
  color: $white;
  font-size: 2rem;
  font-weight: normal;
  line-height: 5rem;
  text-align: left;
  margin-left: 3%;
}
.coverPage {
  width: 100%;
  object-fit: cover;
  object-position: 0% 0%;
  filter: brightness(0.85);
}
.captionHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

@media only screen and (max-width: 767px) {
  .headerTitle {
    color: $white;
    font-size: 1.7rem;
    font-weight: normal;
    text-align: left;
    line-height: 2rem;
    font-weight: 700;
  }
  .headerSubtitle {
    font-size: 1.2rem;
    line-height: 2.6rem;
    font-weight: 500;
  }
  .captionHeader {
    left: 0;
    width: 100%;
    display: flex;
  }
  .coverPage {
    height: auto;
    width: 150%;
    filter: brightness(0.6);
  }
  .header {
    overflow: hidden;
  }
}
