@import "../../../variables.scss";

.header {
  position: relative;
}
.headerTitle {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translate(0, -50%);
  font-size: clamp(1.6rem, 6vw, 5rem);
  font-weight: 500;
  color: $white;
  font-family: "Playfair Display", sans-serif;
  text-align: left;
}
.coverPage {
  width: 100%;
  filter: brightness(0.8);
}
