@import "../../variables.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  line-height: 2.25rem;
}

@media only screen and (max-width: 767px) {
  .container {
    font-size: 0.9rem;
  }
}
