@import "../../variables.scss";

.card {
  display: flex;
  flex-direction: column;
  transition: all 0.3s;
  cursor: pointer;
  max-width: 300px;
}
.modifyBag {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  font-size: 1rem;
  color: $midGreen;

  &:hover {
    text-decoration: underline;
  }
}
.infoProduct {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}
.price {
  margin: 1rem 0;
  color: $black;
  font-size: 1.5rem;
  text-align: left;
  font-weight: 600;
}
.description {
  color: $black;
  text-align: center;
  font-size: 1rem;
}
.imageWrapper {
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 1rem;
}
.card:hover {
  box-shadow: 0 0 8px 1px $midGreen;
}

@media only screen and (max-width: 767px) {
  .card {
    max-width: 250px;
  }
  .imageWrapper {
    width: 250px;
    height: 250px;
  }
}
