@import "../../variables.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 2rem;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.headerWithoutProducts {
  margin-top: 2rem;
  text-align: left;
  padding-bottom: 2rem;
  width: 100%;
  border-bottom: 1px solid $gray;
}
.titleHeader {
  font-size: 3rem;
  font-weight: 600;
  color: $black;
}
.subtitleHeaderWithoutProducts {
  font-size: 2rem;
  color: $black;
  font-weight: 400;
}
.totalWrapper {
  display: flex;
  flex-basis: 30%;
  justify-content: space-between;
  align-items: flex-end;
}
.headerWithProducts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
  border-bottom: 1px solid $gray;
}
.totalProducts {
  margin-right: 1rem;
  margin-left: 2rem;
  font-size: 1.5rem;
  white-space: nowrap;
  color: $black;
}
.priceTop {
  font-size: 1.5rem;
  white-space: nowrap;
  color: $black;
}
.total {
  width: 100%;
  text-align: end;
}
.recommendationsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  color: $black;
  width: 100%;
}

.priceBottom {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: $black;
  margin-left: auto;
}

@media only screen and (max-width: 767px) {
  .bag {
    margin: 0;
    width: 90%;
    align-self: center;
    padding-top: 0;
  }
  .subtitleHeaderWithoutProducts {
    margin-top: 0.5rem;
    font-size: 1rem;
  }
  .titleHeader {
    font-size: 1.2rem;
  }
  .headerWithoutProducts {
    margin-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid $gray;
  }
  .headerWithProducts {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .totalProducts {
    font-size: 0.8rem;
  }
  .priceTop {
    font-size: 0.8rem;
  }
  .priceBottom {
    font-size: 1rem;
    white-space: nowrap;
    text-align: right;
  }
  .recommendationsContainer {
    margin-top: 2.5rem;
  }
}
