@import "../../variables.scss";

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5rem;
  gap: 5rem;
}

@media (max-width: 767px) {
  .home {
    gap: 2.5rem;
  }
}
