@import '../../variables.scss';

input[type='checkbox'] + label:active:before,
input[type='radio'] + label:active:before {
  transform: scale(0);
}
input[type='checkbox']:checked + label:before,
input[type='radio']:checked + label:before {
  background-color: $black;
  border-color: $black;
  color: $white;
}
input[data-search-value='red'] + label:before {
  border: none;
  background-color: $red;
  border: 0.1rem solid transparent;
}
input[data-search-value='red']:checked + label:before {
  background-color: $red;
}
input[data-search-value='pink'] + label:before {
  border: none;
  background-color: $pink;
  border: 0.1rem solid transparent;
}
input[data-search-value='pink']:checked + label:before {
  background-color: $pink;
}
input[data-search-value='orange'] + label:before {
  border: none;
  background-color: $orange;
  border: 0.1rem solid transparent;
}
input[data-search-value='orange']:checked + label:before {
  background-color: $orange;
}
input[data-search-value='yellow'] + label:before {
  border: none;
  background-color: $yellow;
  border: 0.1rem solid transparent;
}
input[data-search-value='yellow']:checked + label:before {
  background-color: $yellow;
}
input[type='checkbox'] + label,
input[type='radio'] + label {
  display: flex;
  align-items: center;
  margin: 0.2rem;
  margin-left: 0;
  cursor: pointer;
  white-space: nowrap;
  color: $black;
  font-size: 1.5rem;
}
input[type='checkbox'],
input[type='radio'] {
  display: none;
}
input[type='checkbox'] + label:before,
input[type='radio'] + label:before {
  content: '\2714';
  border: 1px solid $black;
  margin-right: 10px;
  border-radius: 3px;
  display: inline-block;
  width: 40px;
  height: 40px;
  vertical-align: bottom;
  color: transparent;
  transition: 0.2s;
  font-size: 25px;
}
