@import "../../../variables.scss";

.featureWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-weight: 600;
  color: $darkGray;
  font-size: 1.5rem;
  margin: 1.5rem 0;
}
.paragraph {
  color: $darkBlack;
  font-weight: 500;
  font-size: 1rem;
  line-height: 2rem;
  max-width: 25rem;
}

@media only screen and (max-width: 767px) {
  .featureWrapper {
    margin: 0 0;
  }
  .paragraph {
    max-width: 80%;
    line-height: 1.9rem;
  }
  .title {
    font-weight: 600;
    font-size: 1.2rem;
    margin: 1rem 0;
  }
  .featureWrapper:nth-child(2) {
    margin: 3rem 0;
  }
}
