.bag {
  h1 {
    color: rgb(20, 60, 65);
    font-size: 2rem;
    font-weight: bold;
  }
  margin: 0 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: auto;
  .price {
    border-bottom: 1px solid #e2e2e2;
    width: 100%;
    text-align: end;
  }
  .total {
    width: 100%;
    text-align: end;
  }
}
