.Home {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.wrapperCoverPage {
  display: flex;
  width: 100%;
  .coverPage {
    width: 100%;
    height: auto;
  }
}

.gridProducts {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  .productCollection {
    margin-top: 2rem;
    min-width: 100%;
    position: relative; /*Needed for caption below*/
    .imgGrid {
      width: 100%;
    }
    .caption {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      text-align: center;
      top: 0;
      bottom: 0;
      left: 4%;
      h1 {
        color: rgb(17, 17, 17);
        font-size: 3rem;
        font-weight: bold;
      }
      h2 {
        color: rgb(17, 17, 17);
        font-size: 1.7rem;
      }
      a {
        color: rgb(0, 112, 201);
        font-size: 1.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        
      }
      a:hover{
        text-decoration: underline;
      }
    }
    .winterCollection {
    }
    .springCollection {
    }
    .decorationCollection {
      top: 5%;
      bottom: auto;
      left: 0;
      right: 0;
      a,
      h1,
      h2 {
        color: white;
      }
    }
  }
}

.services {
  width: 100%;
  margin: 5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  a {
    margin: 0 1rem;
    padding: 2rem;
    box-shadow: 0 14px 20px rgba(3, 42, 60, 0.25), 0 10px 10px rgba(3, 42, 60, 0.22), 0 -3px 10px rgba(3, 42, 60, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  svg {
    color: rgb(21, 131, 116);
    font-size: 5rem;
  }
  p {
    color: rgb(21, 131, 116);
    margin-top: 2rem;
    font-size: 1rem;
  }
}
