.home {
  width: 100vw;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  .gridWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .subWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .lightCollection {
    margin: 10rem 0;
  }

  .caption {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    h1 {
      margin-top: 6rem;
    }
  }
  .collectionHeader {
    margin: 5rem 0;
    font-weight: bold;
    color: #222222;
    font-size: 2.2rem;
  }
  .header {
    position: relative; /*Needed for caption below*/
    flex-direction: row;
    display: flex;
    justify-content: center;
    width: 100%;
    .captionHeader {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 50%;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 120px;
    }
    .coverPage {
      width: 100%;
      object-fit: cover;
      object-position: 0% 0%;
    }
    h1 {
      color: white;
      font-size: 4.5rem;
      font-weight: 600;
      line-height: 5rem;
      text-align: left;
    }
    h2 {
      font-family: "Playfair Display", serif;
      color: white;
      font-size: 2.25rem;
      font-weight: normal;
      line-height: 5rem;
      text-align: left;
    }
  }

  .gridProducts {
    .productCollection {
      position: relative; /*Needed for caption below*/
      .lightColorImg {
        object-fit: cover;
        object-position: 0% 0%;
        filter: opacity(0.9);
        width: 100%;
      }
      .colorfulImg {
        filter: brightness(0.9);
        width: 100%;
      }
      h1 {
        color: white;
        font-size: 4rem;
        font-weight: 700;
        line-height: 3rem;
      }
      h1.lightTitle,
      h2.lightSubTitle {
        color: black;
      }
      h2 {
        color: white;
        font-size: 2.2rem;
        font-family: "Playfair Display", serif;
        margin-top: 1.5rem;
        margin-bottom: 2.5rem;
        font-size: 2.2rem;
      }
      button {
        background: #2e7322;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        color: white;
        padding: 10px 40px;
        cursor: pointer;
        font-size: 2.2rem;
      }
    }
    .decorationCollection {
      top: 5%;
      bottom: auto;
      left: 0;
      right: 0;
      a,
      h1,
      h2 {
        color: white;
      }
    }
  }

  .features {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 10rem 0;
    flex-wrap: wrap;
  }

  .featureWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 5rem;
    img {
      height: 10rem;
    }
    h3 {
      font-weight: 400;
      color: #2e7322;
      font-size: 2.3rem;
      margin: 1.5rem 0;
    }
    p {
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 2.5rem;
      max-width: 20rem;
    }
  }
  .services {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 1.5rem;
    flex-wrap: wrap;
    a {
      width: 10rem;
      margin: 0 3rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    svg {
      color: #333333;
      font-size: 3.5rem;
    }
    p {
      color: #515154;
      margin-top: 1rem;
      font-size: 1rem;
      text-align: center;
    }
  }
  .colorfulCollection {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .home {
    .featureWrapper {
      margin: 0 0;
    }
    .featureWrapper:nth-child(2) {
      margin: 5rem 0;
    }
    .wrapperCoverPage {
      h1 {
        font-size: 1.4rem;
        margin-bottom: 1rem;
      }
      img {
        height: 1.2rem;
      }
    }
    .header {
      .coverPage {
        height: auto;
        width: 100%;
        object-fit: cover;
        object-position: 0% 0%;
      }
      .captionHeader {
        h1 {
          color: white;
          font-size: 1.4rem;
          font-weight: normal;
          line-height: 1.8rem;
          text-align: left;
        }
        a {
          font-size: 1rem;
        }
      }
    }
    .gridProducts {
      .productCollection {
        h1 {
          font-size: 1.4rem;
        }
        h2 {
          font-size: 1.1rem;
        }
        a {
          font-size: 0.9rem;
        }
      }
    }
    .colorfulCollection {
      margin: 0rem;
    }
  }
}
