.navBar {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  opacity: 95%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #323232;
  position: sticky;
  top: 0;
  z-index: 10000;
  align-items: center;
  white-space: nowrap;
  height: auto;
  .linksNavBar {
    font-weight: 500;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 162px;
  }
  .logoNavBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: 162px;
    font-weight: 700;
    a {
      display: flex;
      flex-direction: row;
      font-size: 18px;
    }
    .logoGreen {
      margin-left: 2px;
      background: #5bcb49;
      border-radius: 21px;
      transform: rotate(24.91deg);
      height: 12px;
      width: 6px;
    }
    .logoPink {
      margin-left: 5px;
      background: #ff4fe3;
      border-radius: 21px;
      transform: rotate(24.91deg);
      height: 12px;
      width: 6px;
    }
  }
  a {
    color: white;
    padding: 1.5rem 2rem;
  }
  :hover {
    color: #b3b3b3;
  }
  .bagWrapper {
    font-size: 22px;
    svg {
      stroke-width: 20px;
    }
  }
}

@media only screen and (min-width: 767px) {
  .hideHighResolut {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .logoNavBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .navButton {
      position: absolute;
      right: 5%;
      height: 1.5rem;
      width: 1.5rem;
    }
  }
  .navBar {
    .linksNavBar {
      margin-right: auto;
      position: absolute;
      flex-direction: column;
      height: 0;
      opacity: 0;
      overflow: hidden;
      transition: height 0.3s linear;
    }
    .linksNavBar.open {
      position: relative;
      display: flex;
      opacity: 1;
      height: 10rem;
    }
    a {
      padding: 0.4rem;
    }
  }
  .navBar.open {
    flex-direction: column;
  }
}
