.topNav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(35, 35, 45);
  position: sticky;
  top: 0;
  z-index: 10000;
  li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    white-space: nowrap;
    align-items: center;
    :hover {
      color: #b3b3b3;
    }
  }
  li.logoList {
    justify-self: flex-start;
  }
  li a {
    padding: 1rem 0.5rem;
  }
  li a.active {
    color: rgb(179,179,179);
  }
}

.companyLogo {
  height: 2rem;
  filter: invert(100%) sepia(23%) saturate(2%) hue-rotate(166deg) brightness(114%) contrast(101%);
}
.companyLogo:hover {
  filter: invert(79%) sepia(10%) saturate(0%) hue-rotate(47deg) brightness(89%) contrast(91%);
}

@media only screen and (min-width: 700px) {
  .hideHighResolut {
    visibility: hidden;
  }
}
