.topNav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(35, 35, 45);
  position: sticky;
  top: 0;
  z-index: 10000;
  li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 3rem;
    white-space: nowrap;
    align-items: center;
    :hover {
      color: #ffffffb3;
    }
  }
  li a {
    padding: 1rem 0.5rem;
  }
  li a.active {
    color: rgba(255, 255, 255, 0.7);
  }
}

.companyLogo{
  filter: invert(7%) sepia(100%) saturate(7451%) hue-rotate(244deg) brightness(108%) contrast(132%);


}

@media only screen and (min-width: 700px) {
  .hideHighResolut{
    visibility: hidden;
  }
}