.productBag {
  padding: 0.5rem 0;
  margin: 1rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  border-bottom: 1px solid #e2e2e2;
  width: 100%;

  .quantityWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .bouquetImg {
    height: 15rem;
    width: 15rem;
  }
  .imageWrapper {
    width: 10rem;
    height: 10rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-right: 2rem;
  }
  .infoWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
  }
  button {
    background-color: white;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-self: center;
    cursor: pointer;
  }
  button:hover{
    color:#b3b3b3;
  }
  .priceWrapper {
    margin-left: auto;
  }
}
