.singleProductPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  input[type="button"] {
    background: #2e7322;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    color: white;
    padding: 10px 40px;
    cursor: pointer;
    font-size: 1.5rem;
    font-family: "Playfair Display", serif;
    width: 80%;
  }
  .singleProduct {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    .flowersImg {
      width: 500px;
      height: 500px;
    }
    .productDescription {
      max-width: 30%;
      margin-right: 4rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      h1 {
        color: #333333;
        font-size: 2rem;
        font-weight: normal;
        text-align: left;
      }
      .description {
        margin: 2rem 0;
        color: #333333;
        font-size: 1.5rem;
        text-align: left;
        line-height: 2.2rem;
      }
      .price {
        color: #444444;
        font-size: 1.5rem;
        font-weight: normal;
        margin: 2rem 0;
      }
    }
    .modifyBag {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    svg {
      font-size: 1.2rem;
      color: #0070c9;
    }

    a {
      cursor: pointer;
      font-size: 1.2rem;
      color: #0070c9;
    }
    a:hover {
      text-decoration: underline;
    }
  }
  .deliveryFeature {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .deliveryDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .deliveryDescription p:first-child {
    color: #222222;
    font-size: 1.5rem;
  }
  .deliveryDescription p:last-child {
    color: #626262;
    font-size: 1.5rem;
  }
  .imageWrapper {
    width: 450px;
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
