@import '../../variables.scss';

.pageTitle {
  color: $black;
  font-weight: 600;
  font-size: 3rem;
  align-self: flex-start;
}
.productsWrapper {
  display: flex;
  flex-direction: column;
}
.gridWrapper {
  display: flex;
  align-items: flex-start;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  gap: 1.5rem;
}

@media only screen and (max-width: 767px) {
  .pageTitle {
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-left: 1rem;
  }
  .gridWrapper {
    justify-content: space-evenly;
    margin-top: 0.75rem;
  }
}
