@import '../../variables.scss';

.productCard {
  margin: 1rem 2rem;
}
.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  transition: all 0.3s;
  cursor: pointer;
}
.modifyBag {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  font-size: 1rem;
  color: $darkGreen;
}
.infoProduct {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.modifyBag:hover {
  text-decoration: underline;
}
.price {
  margin: 1rem 0;
  color: $mediumGray;
  font-size: 1.5rem;
  text-align: left;
  font-weight: 600;
}
.description {
  color: $darkBlack;
  text-align: center;
  font-size: 1rem;
}
.imageWrapper {
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 1rem;
}
.card:hover {
  box-shadow: 0 0 8px 1px $darkGreen;
}

@media only screen and (max-width: 767px) {
  .productCard {
    margin: 0.8rem;
  }
  .imageWrapper {
    width: 120px;
    height: 120px;
  }
  .infoProduct {
    margin-bottom: 0;
    width: 120px;
  }
  .description {
    color: $darkBlack;
    text-align: center;
    font-size: 0.9rem;
  }
  .modifyBag {
    font-size: 0.9rem;
  }
  .price {
    font-size: 0.9rem;
    margin: 0.5rem 0;
  }
}
