@import "../../../variables.scss";

.filterContainer {
  position: sticky;
  top: 5rem;
  left: 2rem;
}
.filterTitle {
  font-weight: 600;
  color: $black;
  font-size: clamp(0.75rem, 3vw, 1.5rem);
  margin-bottom: 0.5rem;
}
.colors {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.filterWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-right: 2rem;
}
.filters {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3rem;
}

@media only screen and (max-width: 767px) {
  .filterContainer {
    position: static;
  }
  .colors {
    flex-wrap: wrap;
  }
  .filterWrapper {
    margin-right: 0;
  }
  .filters {
    flex-direction: row;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    gap: 0.5rem;
  }
}
