@import "../../variables.scss";

.shop {
  width: 100vw;
  margin-top: 2rem;
  gap: 5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

@media only screen and (max-width: 767px) {
  .shop {
    gap: 0;
    flex-direction: column;
  }
}
