.shop {
  width: 100vw;
  max-width: 1920px;
  margin: 4rem auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  .gridWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding-top: 1rem;
    padding-bottom: 5rem;
  }
  .filterForm {
    position: sticky;
    top: 5rem;
    left: 2rem;
  }
  .FilterTitle {
    font-weight: 600;
    color: #333333;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .colors {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .filterWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 2rem;
    margin-bottom: 1.5rem;
  }
  .filters {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.productsTitleWrapper {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.productsWrapper {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 767px) {
  .pageTitle {
    font-size: 1.2rem;
    margin: 1rem 0;
  }
  .shop {
    margin: 1rem auto;
    .gridWrapper {
      justify-content: space-evenly;
      border-left: none;
      padding-top: 0;
      padding-bottom: 2rem;
    }
    .colors {
      width: 80px;
      flex-wrap: wrap;
    }
    flex-direction: column;
    .FilterTitle {
      font-size: 0.8rem;
    }
    .filterForm {
      position: static;
      top: 0;
      left: 0;
      width: 100%;
    }
    .filters {
      flex-direction: row;
      justify-content: space-evenly;
      margin-bottom: 1.5rem;
      padding-left: 0.8rem;
      padding-right: 0.8rem;
    }
    label {
      font-size: 0.8rem;
    }
    .filterWrapper {
      margin-right: 0;
      margin-bottom: 0;
    }
    input[type="checkbox"] + label:before,
    input[type="radio"] + label:before {
      margin-right: 0.5rem;
      width: 20px;
      height: 20px;
      transition: 0.2s;
      font-size: 14px;
    }

    input[type="checkbox"] + label,
    input[type="radio"] + label {
      font-size: 0.8rem;
    }
  }
}
