.productBag {
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border-bottom: 1px solid #e2e2e2;
  width: 100%;
}
.descriptionProduct {
  font-weight: 600;
  flex-basis: 70%;
  text-align: left;
  font-size: 1.5rem;
}
.quantityWrapperLabel {
  cursor: text;
}
.quantityWrapperInput {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  color: #333333;
}
.quantityWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-basis: 10%;
  margin: 0 2rem;
  font-size: 1.5rem;
  border: 1px #cacaca solid;
  border-radius: 12px;
  padding: 15px;
}
.quantityWrapper:hover {
  border: 1px #ff4fe3 solid;
  box-shadow: 0 0 2px 1px #ff4fe26e;
}
.bouquetImg {
  height: 15rem;
  width: 15rem;
}
.imageWrapper {
  min-width: 18rem;
  min-height: 18rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.customButton {
  background-color: white;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-self: center;
  cursor: pointer;
}
.customButton {
  color: #ff4fe3;
  font-size: 1.2rem;
  font-weight: 500;
}
.customButton :hover {
  color: #b3b3b3;
}
.priceWrapper {
  flex-basis: 20%;
  text-align: right;
  font-size: 1.5rem;
  color: #222222;
}
.quantityWrapperInput::-webkit-outer-spin-button,
.quantityWrapperInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.quantityWrapperInput {
  -moz-appearance: textfield;
}
.infoWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.completeInfoWrapper {
  padding-left: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.bottomInfoWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.deliveryInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0 2rem;
  font-size: 1.5rem;
  .deliverySpan {
    color: #626262;
  }
}

@media only screen and (max-width: 767px) {
  .productBag {
    padding: 1rem 0;
    flex-direction: column;
  }
  .imageWrapper {
    min-width: 250px;
    min-height: 250px;
  }
  .completeInfoWrapper {
    padding-left: 0.5rem;
    margin: 1rem 0;
  }
  .descriptionProduct {
    margin-bottom: 1rem;
    font-size: 1rem;
    text-align: left;
  }
  .infoWrapper {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .customButton {
    font-size: 0.9rem;
    align-self: flex-end;
  }
  .quantityWrapper {
    width: 40%;
    margin: 0;
    font-size: 1rem;
    border: 1px #cacaca solid;
    border-radius: 10px;
    padding: 5px;
  }
  .quantityWrapperInput {
    font-size: 1rem;
  }
  .priceWrapper {
    text-align: center;
    font-size: 1rem;
    color: #222222;
    margin-top: 1rem;
  }
  .bottomInfoWrapper {
    margin-top: 1rem;
    flex-direction: column;
    align-items: flex-start;
  }
  .deliveryInfo {
    font-size: 0.9rem;
  }
}
