html,
body,
#root,
.Home {
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  min-height: 100vh;
}

h1 {
  font-family: "Playfair Display", serif;
}

* {
  font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

body {
  color: black;
  text-align: center;
}

ul {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

li {
  list-style-type: none;
}

.companyLogo {
  height: 2rem;
  filter: invert(100%) sepia(23%) saturate(2%) hue-rotate(166deg) brightness(114%) contrast(101%);
}
