@import "./variables.scss";

html,
body,
#root,
.Home {
  width: 100%;
}

#root {
  min-height: 100vh; /*So that the spacer can work*/
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  color: $black;

  > * {
    width: 100%;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
  text-align: center;
}

.spacer {
  flex: 1;
}
