@import "./variables.scss";

html,
body,
#root,
.Home {
  width: 100%;
}

#root {
  min-height: 100vh; /*So that the spacer can work*/
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: lato, sans-serif;
  text-align: center;
}

.spacer {
  flex: 1;
}
