@import './variables.scss';

html,
body,
#root,
.Home {
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  margin: auto;
  min-height: 100vh; /*So that the spacer can work*/
}

* {
  font-family: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

body {
  color: $darkGray;
  text-align: center;
}

.companyLogo {
  height: 2rem;
  filter: invert(100%) sepia(23%) saturate(2%) hue-rotate(166deg)
    brightness(114%) contrast(101%);
}

.spacer {
  flex: 1;
}
