$midGreen: #2e7322;
$darkGreen: #054a02;
$pink: #ff4fe3;
$yellow: #e6e614;
$orange: #f0a028;
$red: #c00000;
$black: #111111;
$gray: #f0f0f0;
$white: #ffffff;
$lightGreen: #5bcb49;

// export to use in js files
:export {
  midGreen: $midGreen;
  darkGreen: $darkGreen;
  pink: $pink;
  yellow: $yellow;
  orange: $orange;
  red: $red;
  black: $black;
  gray: $gray;
  white: $white;
  lightGreen: $lightGreen;
}
