@import "../../variables.scss";

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-block: 2rem;
  width: 100vw;
  flex-wrap: wrap-reverse;
  gap: 4rem;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;

  > * {
    max-width: 50%;
  }

  .productInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;

    .title {
      color: $black;
      font-size: clamp(1rem, 5vw, 2rem);
      font-weight: 700;
      text-align: left;
    }
    .price {
      color: $black;
      font-size: clamp(1rem, 5vw, 1.5rem);
      font-weight: 600;
      text-align: left;
    }
    .description {
      color: $black;
      font-size: clamp(1rem, 5vw, 1.5rem);
      text-align: left;
    }
  }
}

.imageAndButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  .imageWrapper {
    width: 400px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    padding-inline: 0.8rem;
    max-width: 100%;
    gap: 1rem;

    > * {
      max-width: 100%;
    }

    .productInfo {
      gap: 1rem;
      flex-basis: 100%;
    }

    .imageWrapper {
      width: 250px;
      height: 250px;
    }
  }

  .imageAndButtonContainer {
    gap: 1rem;
  }
}
